<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\OGR4\Documents\Database3.accdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\OGR4\Documents\Database3.accdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString3" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\OGR4\Documents\Database3.accdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString4" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\OGR4\Documents\Database3.accdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString5" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\OGR4\Documents\Database3.accdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString6" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\OGR4\Documents\Database3.accdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString7" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\OGR4\Documents\Database3.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>